# Aula 10 - Recomendação baseada em sessão - exemplos

In [4]:
import pandas as pd
import numpy as np

### Importar base de dados (executar somente se não tiver a base 2019-Oct-sample.csv. Caso contrário, pular para etapa de leitura desse arquivo).

In [5]:
# Fazer download no link: https://www.kaggle.com/datasets/mkechinov/ecommerce-behavior-data-from-multi-category-store?resource=download&select=2019-Oct.csv
#!tar -xvzf 2019-Oct.csv.zip

x 2019-Nov.csv
x 2019-Oct.csv

In [6]:
data = pd.read_csv('./2019-Oct.csv')
data.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [7]:
# drop NaN values in specific columns
data = data.dropna(subset=["category_code", "brand", "user_session", "product_id"])

# keep only relevant columns in our dataset
data = data[["event_time", "event_type", "product_id", "category_code", "brand", "user_session"]]
data.head()

,event_time,event_type,product_id,category_code,brand,user_session
1,2019-10-01 00:00:00 UTC,view,3900821,appliances.environment.water_heater,aqua,9333dfbd-b87a-4708-9857-6336556b0fcc
3,2019-10-01 00:00:01 UTC,view,1307067,computers.notebook,lenovo,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,electronics.smartphone,apple,c6bd7419-2748-4c56-95b4-8cec9ff8b80d
5,2019-10-01 00:00:05 UTC,view,1480613,computers.desktop,pulser,0d0d91c2-c9c2-4e81-90a5-86594dec0db9
8,2019-10-01 00:00:10 UTC,view,28719074,apparel.shoes.keds,baden,ac1cd4e5-a3ce-4224-a2d7-ff660a105880

In [8]:
data.sort_values(by=['user_session', 'event_time'], inplace=True, ignore_index=True)
data.head()

,event_time,event_type,product_id,category_code,brand,user_session
0,2019-10-31 06:23:12 UTC,view,1005115,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c
1,2019-10-31 06:23:52 UTC,view,1005105,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c
2,2019-10-31 06:25:30 UTC,view,1005105,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c
3,2019-10-31 06:26:58 UTC,view,1004858,electronics.smartphone,samsung,00000056-a206-40dd-b174-a072550fa38c
4,2019-10-31 06:28:21 UTC,view,1005104,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c

In [9]:
# select where to split the data
split_at = 2000000

#  make sure the split doesn't cut off session data
while data["user_session"].iloc[split_at-1] == data["user_session"].iloc[split_at]:
    split_at += 1
    
# perform the split
split_range = list(range(0, split_at))
subset = data.iloc[split_range]
subset.shape

(2000006, 6)

In [10]:
subset.to_csv('2019-Oct-sample.csv', index=False, header=['event_time', 'event_type', 'product_id', 'category_code', 'brand', 'user_session'], sep=',')

### Leitura do arquivo 2019-Oct-sample.csv

In [11]:
subset = pd.read_csv('./2019-Oct-sample.csv')
subset.head()

,event_time,event_type,product_id,category_code,brand,user_session
0,2019-10-31 06:23:12 UTC,view,1005115,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c
1,2019-10-31 06:23:52 UTC,view,1005105,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c
2,2019-10-31 06:25:30 UTC,view,1005105,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c
3,2019-10-31 06:26:58 UTC,view,1004858,electronics.smartphone,samsung,00000056-a206-40dd-b174-a072550fa38c
4,2019-10-31 06:28:21 UTC,view,1005104,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c

In [12]:
map_items = {item: idx for idx, item in enumerate(subset.product_id.unique())}
map_sessions = {item: idx for idx, item in enumerate(subset.user_session.unique())}
subset['itemId'] = subset['product_id'].map(map_items)
subset['sessionId'] = subset['user_session'].map(map_sessions)
subset.head()

,event_time,event_type,product_id,category_code,brand,user_session,itemId,sessionId
0,2019-10-31 06:23:12 UTC,view,1005115,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c,0,0
1,2019-10-31 06:23:52 UTC,view,1005105,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c,1,0
2,2019-10-31 06:25:30 UTC,view,1005105,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c,1,0
3,2019-10-31 06:26:58 UTC,view,1004858,electronics.smartphone,samsung,00000056-a206-40dd-b174-a072550fa38c,2,0
4,2019-10-31 06:28:21 UTC,view,1005104,electronics.smartphone,apple,00000056-a206-40dd-b174-a072550fa38c,3,0

In [13]:
n_items = subset['itemId'].max()+1
print('No. items: ', n_items)
n_sessions = subset['sessionId'].max()+1
print('No. sessions: ', n_sessions)

No. items:  42581
No. sessions:  483508

In [14]:
# create a dataset
# remove sessions with less than 2 items
def create_data(df):
    df.sort_values(by=['sessionId', 'event_time'], inplace=True, ignore_index=True)
    sessions, session = [], []
    for index, value in df.iterrows():
        if index != 0:
            if value["sessionId"] == df.at[index-1, "sessionId"]:
                if value["event_type"] == 'view':
                    session.append(value["itemId"])
            else:
                if len(session) > 1:
                    sessions.append((df.at[index-1, "sessionId"], session))
                session = [value["itemId"]]
        else:
            session.append(value["itemId"])
    return sessions

In [15]:
sessions = create_data(subset)

In [16]:
print('No. sessions: ', len(sessions))
print('Session 1:', sessions[1])
subset.loc[subset.sessionId==1]

No. sessions:  296914
Session 1: (np.int64(1), [6, 7, 8, 9, 10, 11, 12, 9, 13, 9, 0, 14, 1, 15, 16, 17])

,event_time,event_type,product_id,category_code,brand,user_session,itemId,sessionId
7,2019-10-06 11:24:45 UTC,view,1004768,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,6,1
8,2019-10-06 11:25:54 UTC,view,1005098,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,7,1
9,2019-10-06 11:25:59 UTC,view,1005073,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,8,1
10,2019-10-06 11:26:39 UTC,view,1004871,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,9,1
11,2019-10-06 11:26:53 UTC,view,1004751,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,10,1
12,2019-10-06 11:27:05 UTC,view,1004653,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,11,1
13,2019-10-06 11:27:24 UTC,view,1005015,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,12,1
14,2019-10-06 11:28:05 UTC,view,1004871,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,9,1
15,2019-10-06 11:28:34 UTC,view,1003527,electronics.smartphone,xiaomi,00000083-8816-4d58-a9b8-f52f54186edc,13,1
16,2019-10-06 11:28:45 UTC,view,1004871,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,9,1
17,2019-10-06 11:29:11 UTC,view,1005115,electronics.smartphone,apple,00000083-8816-4d58-a9b8-f52f54186edc,0,1
18,2019-10-06 11:30:18 UTC,view,1004249,electronics.smartphone,apple,00000083-8816-4d58-a9b8-f52f54186edc,14,1
19,2019-10-06 11:30:25 UTC,view,1005105,electronics.smartphone,apple,00000083-8816-4d58-a9b8-f52f54186edc,1,1
20,2019-10-06 11:30:37 UTC,view,1005135,electronics.smartphone,apple,00000083-8816-4d58-a9b8-f52f54186edc,15,1
21,2019-10-06 11:30:41 UTC,view,1004246,electronics.smartphone,apple,00000083-8816-4d58-a9b8-f52f54186edc,16,1
22,2019-10-06 11:32:50 UTC,view,1004870,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,17,1
23,2019-10-06 11:33:54 UTC,cart,1004870,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,17,1
24,2019-10-06 11:34:30 UTC,purchase,1004870,electronics.smartphone,samsung,00000083-8816-4d58-a9b8-f52f54186edc,17,1

In [17]:
import random

random.shuffle(sessions)
split = len(sessions) * 0.8
train = sessions[:int(split)]
test = sessions[int(split):]
print('No. train sessions: ', len(train))
print('No. test sessions: ', len(test))

No. train sessions:  237531
No. test sessions:  59383

In [18]:
def jaccard(list1, list2):
    intersection = len(list(set(list1).intersection(list2)))
    union = (len(list1) + len(list2)) - intersection
    return float(intersection) / union

In [19]:
actual_session = test[3]
target = actual_session[1][0:-1]
print(actual_session)
print(target)
subset.loc[subset.sessionId==actual_session[0]]

(np.int64(64833), [1796, 1796, 1315, 1315, 1314, 1315])
[1796, 1796, 1315, 1315, 1314]

,event_time,event_type,product_id,category_code,brand,user_session,itemId,sessionId
269551,2019-10-06 09:23:00 UTC,view,1004669,electronics.smartphone,xiaomi,02997ee2-578e-4955-b9d7-e83a9a6b3f0d,1796,64833
269552,2019-10-06 09:23:36 UTC,view,1004669,electronics.smartphone,xiaomi,02997ee2-578e-4955-b9d7-e83a9a6b3f0d,1796,64833
269553,2019-10-06 09:24:01 UTC,view,1004891,electronics.smartphone,zte,02997ee2-578e-4955-b9d7-e83a9a6b3f0d,1315,64833
269554,2019-10-06 09:31:52 UTC,view,1004891,electronics.smartphone,zte,02997ee2-578e-4955-b9d7-e83a9a6b3f0d,1315,64833
269555,2019-10-06 09:32:16 UTC,view,1004892,electronics.smartphone,zte,02997ee2-578e-4955-b9d7-e83a9a6b3f0d,1314,64833
269556,2019-10-06 09:35:13 UTC,view,1004891,electronics.smartphone,zte,02997ee2-578e-4955-b9d7-e83a9a6b3f0d,1315,64833

In [20]:
def compute_score(train, target, itemId):
    candidate_sessions = []
    for s in range(len(train)):
        if itemId in train[s][1]:
            candidate_sessions.append(train[s][1])
    
    score = 0
    for n in range(len(candidate_sessions)):
        score += jaccard(candidate_sessions[n], target)
    
    return score
    
compute_score(train=train, target=target, itemId=931)

0.02

In [21]:
categories = subset.loc[subset.sessionId==actual_session[0]]['category_code'].unique().tolist()
candidate_items = subset.loc[subset.category_code.isin(categories)]['itemId'].unique().tolist()
candidate_items

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 27,
 28,
 29,
 30,
 31,
 35,
 36,
 37,
 38,
 43,
 44,
 52,
 53,
 56,
 59,
 61,
 71,
 72,
 73,
 74,
 75,
 79,
 81,
 82,
 90,
 91,
 92,
 94,
 95,
 97,
 98,
 113,
 114,
 116,
 134,
 135,
 136,
 143,
 144,
 146,
 147,
 153,
 159,
 170,
 177,
 178,
 179,
 180,
 191,
 200,
 201,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 239,
 241,
 246,
 248,
 250,
 256,
 257,
 258,
 259,
 260,
 274,
 275,
 276,
 284,
 285,
 287,
 291,
 292,
 296,
 297,
 298,
 299,
 314,
 315,
 318,
 320,
 321,
 322,
 323,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 352,
 357,
 359,
 361,
 362,
 367,
 385,
 386,
 387,
 399,
 407,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 431,
 458,
 459,
 460,
 471,
 479,
 483,
 484,
 485,
 486,
 487,
 493,
 504,
 505,
 506,
 514,
 515,
 516,
 517,
 520,
 528,
 529,
 530,
 548,
 551,
 562,
 574,
 575,
 576,
 577,
 598,
 599,
 605,
 625,
 630,
 638,
 641,
 642,
 643,
 659,
 662,
 663,
 681,
 682,
 697,
 698,
 699,
 702,
 709,
 712,
 747,
 749,
 754,
 755,
 811,
 848,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 880,
 884,
 885,
 886,
 887,
 888,
 890,
 926,
 937,
 947,
 948,
 953,
 954,
 981,
 982,
 983,
 984,
 985,
 987,
 988,
 1003,
 1004,
 1013,
 1014,
 1017,
 1029,
 1037,
 1042,
 1051,
 1052,
 1053,
 1056,
 1057,
 1059,
 1060,
 1061,
 1063,
 1064,
 1093,
 1101,
 1105,
 1114,
 1115,
 1118,
 1119,
 1120,
 1141,
 1153,
 1157,
 1158,
 1159,
 1193,
 1194,
 1258,
 1265,
 1272,
 1274,
 1276,
 1277,
 1310,
 1311,
 1312,
 1313,
 1314,
 1315,
 1349,
 1359,
 1366,
 1367,
 1368,
 1369,
 1373,
 1390,
 1391,
 1392,
 1393,
 1394,
 1398,
 1404,
 1406,
 1407,
 1408,
 1423,
 1424,
 1425,
 1426,
 1429,
 1434,
 1435,
 1442,
 1448,
 1456,
 1457,
 1458,
 1459,
 1460,
 1461,
 1462,
 1500,
 1501,
 1502,
 1503,
 1505,
 1506,
 1519,
 1530,
 1533,
 1538,
 1539,
 1540,
 1541,
 1542,
 1543,
 1557,
 1563,
 1564,
 1567,
 1573,
 1574,
 1575,
 1576,
 1577,
 1587,
 1604,
 1615,
 1624,
 1625,
 1628,
 1629,
 1640,
 1641,
 1672,
 1673,
 1674,
 1685,
 1686,
 1694,
 1715,
 1716,
 1746,
 1749,
 1759,
 1764,
 1765,
 1766,
 1767,
 1770,
 1793,
 1796,
 1797,
 1798,
 1799,
 1805,
 1806,
 1807,
 1808,
 1809,
 1810,
 1811,
 1821,
 1838,
 1840,
 1862,
 1876,
 1877,
 1898,
 1899,
 1900,
 1908,
 1910,
 1924,
 1925,
 1926,
 1927,
 1928,
 1942,
 1949,
 1950,
 1951,
 1955,
 1960,
 1966,
 1967,
 1977,
 1978,
 1979,
 1980,
 1982,
 1983,
 1984,
 1985,
 1994,
 2001,
 2006,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2020,
 2021,
 2023,
 2040,
 2061,
 2062,
 2073,
 2086,
 2087,
 2129,
 2138,
 2157,
 2178,
 2185,
 2197,
 2206,
 2208,
 2225,
 2242,
 2243,
 2250,
 2278,
 2291,
 2319,
 2322,
 2341,
 2344,
 2350,
 2354,
 2356,
 2365,
 2368,
 2369,
 2370,
 2371,
 2374,
 2375,
 2376,
 2377,
 2378,
 2379,
 2380,
 2394,
 2396,
 2397,
 2398,
 2399,
 2400,
 2401,
 2402,
 2409,
 2421,
 2422,
 2423,
 2449,
 2450,
 2451,
 2452,
 2453,
 2454,
 2457,
 2470,
 2473,
 2529,
 2530,
 2536,
 2537,
 2566,
 2568,
 2569,
 2570,
 2578,
 2598,
 2599,
 2600,
 2601,
 2612,
 2621,
 2634,
 2666,
 2673,
 2674,
 2675,
 2740,
 2741,
 2742,
 2743,
 2745,
 2747,
 2748,
 2752,
 2753,
 2756,
 2790,
 2819,
 2848,
 2876,
 2899,
 2924,
 2951,
 2956,
 2957,
 2958,
 2959,
 3018,
 3031,
 3036,
 3043,
 3044,
 3045,
 3046,
 3086,
 3092,
 3094,
 3095,
 3103,
 3104,
 3105,
 3106,
 3107,
 3108,
 3109,
 3117,
 3118,
 3123,
 3124,
 3133,
 3153,
 3185,
 3186,
 3224,
 3248,
 3256,
 3286,
 3323,
 3363,
 3367,
 3373,
 3417,
 3418,
 3432,
 3460,
 3496,
 3509,
 3555,
 3569,
 3570,
 3578,
 3580,
 3581,
 3582,
 3586,
 3594,
 3633,
 3640,
 3643,
 3655,
 3664,
 3681,
 3712,
 3871,
 3913,
 3925,
 3939,
 4028,
 4043,
 4044,
 4045,
 4064,
 4069,
 4075,
 4076,
 4099,
 4103,
 4104,
 4120,
 4133,
 4134,
 4143,
 4144,
 4171,
 4172,
 4227,
 4283,
 4289,
 4301,
 4305,
 4317,
 4318,
 4338,
 4360,
 4361,
 4362,
 4373,
 4457,
 4466,
 4503,
 4504,
 4505,
 4521,
 4522,
 4523,
 4524,
 4525,
 4526,
 4564,
 4586,
 4587,
 4628,
 4635,
 4645,
 4648,
 4655,
 4665,
 4666,
 4667,
 4676,
 4679,
 4694,
 4703,
 4742,
 4767,
 4823,
 4834,
 4859,
 4880,
 4888,
 4912,
 4934,
 4935,
 4945,
 4953,
 5025,
 5037,
 5079,
 5089,
 5121,
 5140,
 5141,
 5142,
 5143,
 5144,
 5145,
 5147,
 5174,
 5175,
 5215,
 5216,
 5222,
 5223,
 5225,
 5236,
 5285,
 5302,
 5340,
 5341,
 5349,
 5353,
 5362,
 5365,
 5369,
 5386,
 5390,
 5474,
 5477,
 5563,
 5564,
 5567,
 5568,
 5569,
 5589,
 5594,
 5595,
 5682,
 5683,
 5684,
 5736,
 5791,
 5798,
 5831,
 5898,
 5939,
 5940,
 5956,
 5992,
 6028,
 6112,
 6141,
 6293,
 6403,
 6404,
 6430,
 6473,
 6507,
 6535,
 6537,
 6554,
 6563,
 6580,
 6583,
 6642,
 6653,
 6654,
 6691,
 6692,
 6693,
 6694,
 6695,
 6711,
 6716,
 6721,
 6722,
 6723,
 6725,
 6748,
 6811,
 6862,
 6864,
 6868,
 6906,
 6908,
 6967,
 6968,
 6969,
 7029,
 7030,
 7045,
 7059,
 7082,
 7083,
 7095,
 7096,
 7097,
 7098,
 7114,
 7159,
 7215,
 7216,
 7248,
 7261,
 7299,
 7372,
 7384,
 7441,
 7466,
 7547,
 7548,
 7562,
 7597,
 7628,
 7629,
 7630,
 7727,
 7747,
 7772,
 7779,
 7781,
 7804,
 7836,
 7850,
 7912,
 7940,
 7946,
 7984,
 7985,
 8042,
 8126,
 8141,
 8188,
 8195,
 8196,
 8221,
 8231,
 8268,
 8269,
 8270,
 8271,
 8272,
 8273,
 8274,
 8275,
 8296,
 8341,
 8382,
 8406,
 8439,
 8445,
 8456,
 8476,
 8596,
 8647,
 8682,
 8683,
 8690,
 8716,
 8804,
 8820,
 8821,
 8822,
 8974,
 9053,
 9071,
 9083,
 9122,
 9215,
 9238,
 9252,
 9270,
 9318,
 9331,
 9359,
 9432,
 9439,
 9469,
 9507,
 9548,
 9549,
 9564,
 9568,
 9620,
 9623,
 9659,
 9701,
 9713,
 9714,
 9715,
 9716,
 9717,
 9734,
 9779,
 9803,
 9896,
 9897,
 9902,
 9934,
 9945,
 9946,
 9947,
 9948,
 9949,
 9956,
 9992,
 10296,
 10306,
 10316,
 10324,
 10325,
 10326,
 10365,
 10375,
 10605,
 10609,
 10623,
 10641,
 10681,
 10707,
 10708,
 10709,
 10710,
 10711,
 10712,
 10713,
 10714,
 10715,
 10716,
 10728,
 10758,
 10809,
 10831,
 10905,
 10978,
 10979,
 10980,
 11099,
 11145,
 11188,
 11189,
 11196,
 11237,
 11246,
 11247,
 11280,
 11281,
 11306,
 11397,
 11400,
 11401,
 11561,
 11562,
 11607,
 11636,
 11658,
 11690,
 11728,
 11788,
 11833,
 12082,
 12096,
 12225,
 12339,
 12340,
 12341,
 12375,
 12479,
 12480,
 12491,
 12563,
 12575,
 12675,
 12791,
 12993,
 12999,
 13014,
 13015,
 13059,
 13064,
 13095,
 13096,
 13097,
 13146,
 13155,
 13156,
 13182,
 13226,
 13310,
 13563,
 13577,
 13611,
 13620,
 13621,
 13669,
 13725,
 13756,
 13774,
 13813,
 13814,
 13840,
 13917,
 13983,
 14037,
 14039,
 14051,
 14066,
 14112,
 14362,
 14443,
 14747,
 14795,
 14832,
 14836,
 14867,
 14919,
 14920,
 14921,
 14922,
 14923,
 14924,
 14925,
 14926,
 14927,
 14928,
 14943,
 15027,
 15156,
 15246,
 15257,
 15258,
 15355,
 15528,
 15553,
 15576,
 15586,
 15598,
 15633,
 15650,
 15653,
 15710,
 15711,
 15981,
 16009,
 16061,
 16120,
 16137,
 16148,
 16167,
 16185,
 16319,
 16690,
 16712,
 16726,
 16727,
 16767,
 16787,
 16865,
 16885,
 16974,
 ...]

In [22]:
ranking = []
for i in range(len(candidate_items)):
    ranking.append((compute_score(train, target, candidate_items[i]), candidate_items[i]))

ranking.sort()
ranking.reverse()
print(ranking[0:10])

[(24.579714005508116, 1796), (19.06053211447194, 1315), (9.376050168356223, 1314), (5.94402081278592, 479), (5.881407423319004, 274), (4.638210086607684, 341), (4.58377365041171, 598), (3.657377473857068, 248), (3.5472457832323485, 340), (3.036342041973953, 2537)]

In [25]:
subset.loc[subset.itemId==1046]

,event_time,event_type,product_id,category_code,brand,user_session,itemId,sessionId
2519,2019-10-12 18:16:54 UTC,view,5100719,electronics.clocks,samsung,000729f8-7f6c-43f6-b1dd-aab45a29f5c1,1046,652
5660,2019-10-01 13:27:59 UTC,view,5100719,electronics.clocks,samsung,000fdfe4-e1f0-4a93-9c22-f04066ad895e,1046,1461
5705,2019-10-01 10:07:25 UTC,view,5100719,electronics.clocks,samsung,000ff41f-8d94-449e-86fc-25e0957da685,1046,1470
5706,2019-10-01 10:08:04 UTC,view,5100719,electronics.clocks,samsung,000ff41f-8d94-449e-86fc-25e0957da685,1046,1470
6330,2019-10-12 19:48:00 UTC,view,5100719,electronics.clocks,samsung,00118404-d57f-4480-b917-df839bc6a188,1046,1642
...,...,...,...,...,...,...,...,...
1998579,2019-10-31 03:54:14 UTC,view,5100719,electronics.clocks,samsung,1347912f-0cb1-4086-b174-d7f10f275ffa,1046,483132
1998631,2019-10-11 16:58:51 UTC,view,5100719,electronics.clocks,samsung,1347c04a-6cfd-4cca-925e-60cead2e1931,1046,483151
1998632,2019-10-11 16:59:10 UTC,view,5100719,electronics.clocks,samsung,1347c04a-6cfd-4cca-925e-60cead2e1931,1046,483151
1998633,2019-10-11 17:00:34 UTC,view,5100719,electronics.clocks,samsung,1347c04a-6cfd-4cca-925e-60cead2e1931,1046,483151
1999649,2019-10-02 13:10:32 UTC,view,5100719,electronics.clocks,samsung,134a9a60-7386-4d9f-8709-909c663b88da,1046,483425