<font size="6" face="verdana" color="green">
    <b>Preparação das tabelas da Base de dados <u>Alunos15</u></b>
    </font>

<br><br>

**Objetivo:** Preparar o ambiente para explorar comandos básicos da linguagem SQL,\
    usando uma &nbsp; <i>toy database</i> &nbsp; como exemplo, contendo dados de mátriculas de 15 alunos:\
    a base de Dados `Alunos15`

__Atividades:__ 
 * Instalar os pacotes de Python que serão usados nos exercícios;
 * Preparar a base de dados `Alunos15` criando seis tabelas no SGBD &nbsp; <img src="Figuras/Postgres.png" width=100/>
 * Carregar dados sobre 15 alunos nessa base;

<br><br>

----

<br>

## 1. Instalar os pacotes necessários

Assumimos aqui que já estão instalados os ambientes:
  * <font size="3" face="verdana" color="blue">Python</font>:\
    Interpretador disponível em:
        https://www.python.org/downloads/ \
		&emsp; &emsp; X Disable path limit
  * <font size="3" face="verdana" color="blue">Jupyter-Lab</font>:\
   	`pip install jupyterlab`
  * <font size="3" face="verdana" color="blue">Postgres</font>:\
   	Download Postgres EDB: https://www.enterprisedb.com/downloads/postgres-postgresql-downloads \
    os _defaults_ são:\
			&emsp; &emsp; `Passwd: pgadmin`\
			&emsp; &emsp; `Port: 5432`\
			&emsp; &emsp; `Locale: system default`\
			&emsp; &emsp; `Lauch Stackbuilder: no`


Nos exercícios, são necessários os módulos:
  * `sqlalchemy`   para estabelecer coneções entre o ambiente Python e um servidor de bases de dados.
  * `psycopg2`     para acessar o SGBD <img src="Figuras/Postgres.png" width=100>.
  * `ipython-sql`  para habilitar as _"mágicas"_ `%sql` e `%%sql`.\
    &emsp; &emsp; &emsp; <a href="https://ipython.readthedocs.io/en/stable/interactive/magics.html">(Veja a documentação das mágicas nativas)</a>
  * `ipywidgets`   para interadores para experimentar  consultas com parâmetros.

Esses módulos podem ser instalados com os seguintes comandos:\
<font color="red"> Atenção: Está célula deve ser executada uma vez só para toda a disciplina, e apenas para os módulos ainda não instalados.</font>

pip install sqlalchemy

pip install psycopg2

pip install ipython-sql

pip install ipywidgets

<br><br>

----

<br>

### 1.1 Carregar os módulos que serão usados no _Notebook_ 

Os módulos devem ser carregados antes de serem usados, mas podem ser carregados em qualquer lugar do _Notebook_.\
No entanto, por uma questão de legibilidade, é interessante que sejam carregados logo no início, de preferência na primeira célula do _notebook_.

Os comandos seguintes carregam os módulos necessários, incluindo os que estabelecem a conexão com uma base.\

In [29]:
# Importar os módulos necessários para o Notebook:
from ipywidgets import interact 
import ipywidgets as widgets     
from sqlalchemy import create_engine


<br><br>

----
----

<br>

### 2 Conectar com uma base de dados

Quando Postgres é instalado, ele já cria uma base de dados _default_, vasia, chamada `Postgres`.\
Aqui vamos estabelecer a conecção com a base _default_.

Para estabelecer uma coneção com uma base de dados, sempre é necessário fornecer os seguintes parâmetros:\
(em qualquer aplicativo)
  * host:        Endereço IP do servidor; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp; (_default_: `localhost`)
  * port:        Númeo da porta onde o servidor está atendendo;  &emsp; &emsp; &emsp; (_default_: `5432`)
  * database:    Nome da base de dados (que é gerenciada pelo servidor) que se deseja acessar; &emsp;  (_default_: `postgres`)
  * username:    Identificador do usuário;  &emsp; &emsp; &emsp; &emsp; &emsp; &ensp; (_default_: `postgres`)
  * password:    _ Password_ do usuário.   &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; (_default_: `pgadmin`)

O módulo `SQLAlchemy` pode se conectar com diversas 'marcas' de SGBDs.\
Por isso, ele requer dois parâmetros adicionais:
  * driver: qual é o _driver_ que faz a conecção com o SGBD\
    * No caso de Postgres, o _driver_ é `postgres`, indicando que deve ser usado o `psycopg2`;
  * dialect: o dialeto de SQL usado.  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  (aqui usamos `postgres`)

O módulo `SQLAlchemy` estabelece uma conexão recebendo esses parâmetros em uma _string_ no formato:\
&emsp; &emsp; &emsp;  %sql dialect+driver://username:password@host:port/database

A conexão com a base _default_ pode portanto ser estabelecida com os seguintes comandos:

In [30]:
# Conectar com um servidor SQL na base default --> Postgres.postgres
%load_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:postgres@localhost:5432/postgres')
%sql postgresql://postgres:postgres@localhost:5432/postgres

The sql extension is already loaded. To reload it, use:
  %reload_ext sql


<br><br>

----

<br>

### 2.1 Enviar um comando para o servidor.

Depois que o <b>servidor</b> está conectado, ele fica "ouvindo" o <b>cliente</b>, esperando pelas consultas a serem submetidas.\
 &emsp; Cada consulta é enviada como uma _string_, que contém um ou mais comandos em `SQL`, separados por `;`.

Como estamos operando em um `notebook python`, podemos usar 
  * a mágica `%sql` para enviar uma _string_.\
    Essa mágica envia uma _string_ que não contem quebras de linha.\
    (Se houver quebras de linha no fonte, para motivos de formatação, isso deve ser indicado explicitamente\
    &emsp; &emsp; com um caracter `\` finalizando a linha fonte)\
    Essa mágica permite que outros comandos em python sejam colocados na mesma célula, antes ou depois da mágica.
  * a mágica `%%sql` para enviar uma _string_ que pode conter quebras de linha.\
    A _string_ enviada
     * começa na próxima linha da célula,
     * e vai até o final dela.

Em SQL, o comando fundamental para perguntar algo ao servidor é o comando `SELECT`.\
Em Postgres, existe uma função que retorna o nome da bases de dados onde o cliente está conectado:\
&emsp; &emsp; &emsp; a função `Current_Database()`.

Portanto, podemos perguntar ao servidor qual a base onde estamos conectados:

In [16]:
%%sql
SELECT Current_database();

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('postgres',)]

<font size="3" face="verdana" color="green">
    Parabéns, você executou seu primeiro comando em SQL!
</font>

<br><br>


Essa resposta indica que estamos conectados ao Servidor, assessando a `Base de dados` _default_: `postgres`.

<br><br>

----
----

<br>

## 3. Criar uma base de dados

Todas as informações de um empreendimento devem estar em uma __Base de Dados__.
Podemos 
  * carregar os dados diretamente nessa base de dados _default_,
  * ou criar uma outra base, específica para conter apenas os dados que vamos usar.

Como é recomendável ter sempre os dados de uma aplicação juntos mas isolados dos dados das outras aplicações,\
 <font size="5">&emsp; &#9758;</font> vamos seguir a segunda alternativa, e criar uma nova base de dados vazia, à qual chamaremos de\
 &emsp; &emsp; &emsp; Base <big>`Alunos15`</big>

Isso é feito com um comando específico de SQL, \
&emsp; &emsp; &emsp; o comando `CREATE DATABASE <nome> <parâmetros>;`.\
Vamos criar essa base de dados.

<br>


Os comandos para apagar e recriar uma base de dados devem ser executados numa transação única.\
As mágicas `%sql` e `%%sql` operam por _default_ abrindo e fechando uma transação para cada comando emitido para o servidor, o que é chamado `Auto Commit`.

Isso dá conflito para a criação de uma base de dados, e portanto é necessário antes pedir para o `Notebook` operar sem o `Auto Commit`.\
Para isso, vamos finalizar qualquer transação corrente que possa estar aberta e pedir para que o sistema opere sem `Auto Commit`.\
Mas vamos reabilitar-lo logo a seguir, para voltar à operação normal do _Notebook_.

&emsp; <font size="5">&#9758;</font> Isso é feito usando uma __mágica nativa__ do ambiente de mágicas do `Jupyter-lab`: `%config`

In [17]:
## Desabilitar o Autocommit:
%config SqlMagic.autocommit=False


<br><br>

----

<br>

Vamos garantir que alguma base com o nome `alunos15` já não exista, apagando se ela já existir.<br>
Estamos fazendo isso porque, num ambiente de <i>Notebook</i>s, é comum reexecutá-lo várias vezes, e escrever os comandos dessa maneira evita erros nas reexecuções.<br>
<font size="3" color="red">
    Mas veja que num ambiente de produção, <u>criar e apagar bases de dados é muito raro!</u></font>

<div class="alert alert-block alert-info">
    <font size="5">&#x26A0;</font> Atenção: a opção <font face="courier" color="black"> WITH (FORCE)</font> usada na célula seguinte é radical:<br>
    ela fecha qualquer outra conecção que possa haver na base, e numa situação real, com outros usários assessando a base concorrentemente, pode ter consequencias imprevisíveis.<br>
    Estou usando aqui para garantir que outro aplicativo que possa estar sendo usado em paralelo (tipo `PSQL` ou `PGAdmin`) não interfira no processo.<br>
    <font color="red"><font size="6">&emsp; &#9758;</font> Mas num ambiente de produção, esse recurso tem que ser usado com muiiito cuidado!</font>
    </div>

In [18]:
%%sql 
COMMIT;
DROP DATABASE IF EXISTS alunos15 WITH (FORCE);
COMMIT;
CREATE DATABASE alunos15
    WITH OWNER = postgres
    ENCODING = 'UTF8';
COMMIT;

 * postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.
Done.
Done.

[]

Se não houve erro, a nova base de dados está criada, vasia!

Antes de continuar, vamos restaurar a coneção do `Notebook` com o servidor para operação normal,\
re-habilitando o `Auto-commit` entre comandos SQL:

In [31]:
# Reabilitar o Autocommit:
%config SqlMagic.autocommit=True


<br><br>

----

<br>

Com a base criada, podemos nos conectar nela, transferindo o acesso <i>default</i>:\
&emsp; &#9758; note que as demais continuam podendo ser acessadas explicitamente, qualificando as tabelas: `postgres.nome`.

Para isso, criamos uma nova conexão com o servidor, agora conectando à base de dados `Alunos15`:

In [21]:
# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost/alunos15')
%sql postgresql://postgres:postgres@localhost/alunos15

<br>

Vamos verificar qual a base que estamos conectados agora.\
Para isso, perguntamos novamente ao servidor: `SELECT Current_Database();`

A primeira vez que fizemos isso, já usamos a mágica `%%sql`.\
Para ver a diferença, vamos usar agora  a mágica `%sql`: colocamos tudo numa linha só.

In [22]:
%sql SELECT Current_Database();

 * postgresql://postgres:***@localhost/alunos15
   postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('alunos15',)]

In [23]:
%sql SELECT CONCAT('Hello')

 * postgresql://postgres:***@localhost/alunos15
   postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Hello',)]

Veja que o resultado de um comando SQL é também uma _string_, \
que a mágica `%sql` entende como um tipo de dados `sql ResultSet` de python.
Como em qualquer célula do _Notebook_, o resultado do último comando executado nela\
é impresso no final.

Se algum outro comando for executado depois da mágica `%sql` nessa célula, o resultado é perdido.\
Mas podemos armazenar o resultado numa variável em python com a diretiva `<<`:

In [24]:
%sql DB << SELECT Current_Database();
print('\n  Conexão default:')
print(DB)
print('Tipo da resposta:', type(DB))

 * postgresql://postgres:***@localhost/alunos15
   postgresql://postgres:***@localhost:5432/postgres
1 rows affected.
Returning data to local variable DB

  Conexão default:
+------------------+
| current_database |
+------------------+
|     alunos15     |
+------------------+
Tipo da resposta: <class 'sql.run.ResultSet'>


<br><br>

----
----

<br>

<br><br>

## 4. Criar tabelas em uma Base de Dados

Antes de carregar uma base de dados, é necessário definir a(s) tabela(s) que irão compor a base de dados, usando, entre outros, comandos `CREATE TABLE`.

<div class="alert alert-block alert-info"> 
    &#x26A0; Caso alguma tabela possa já existir é interessante usar a opção 
        <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505">IF NOT EXISTS</font>, <br>
    pois caso alguma tabela exista, irá ocorrer um erro que aborta a transação, e nenhum comando dessa transação será executado.<br>
    &emsp;&emsp;Também podemos solicitar explicitamente que a tabela seja apagada antes com o comando 
        <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505">DROP TABLE</font>,<br>
    &emsp; &emsp; &emsp; e é interessante aqui também usar a opção 
      <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505">IF EXISTS</font>, para evitar erro caso a tabela não exista!<br><br>
    &#x26A0; Por outro lado, lembre-se que uma vez executado corretamente, cada tabela criada se torna persistente e continua a existir na base de dados até ser explicitamente removida.<br><br>
    &#x26A0; Caso exista algum objeto que dependa de uma tabela (por exemplo uma 
    <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505"> VIEW </font> ou uma 
    <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505"> TRIGGER), </font>
       então a opção<br>
    &emsp; &emsp; &emsp; <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505"> CASCADE </font> pode ser interessante, para remover também tais objetos
    </div>
<br>

Em um ambiente de experimentação como é o caso de um <font size="3" face="arial" style="background-color:#E4E0E0;" color="#050505"> Jupyter Notebook </font>, <br>
&emsp;é aconselhavel sempre usar a opção de apagar e recriar cada tabela,<br>
&emsp; &emsp; <font size="5">&#9758;</font> pois em um ambiente de experimentação, é frequente re-executar as células.
    
<br>

<font color="red"><font size="6">&emsp; &#9758;</font> Mas veja que estamos fazendo isso para poder executar e reexecutar as células do
    `Notebook`.\
&emsp; &emsp; &emsp; &emsp; Num ambiente de produção, esse recursos normalmente não devem ser usados!</font>

In [25]:
%%sql
DROP TABLE IF EXISTS Professor CASCADE;
CREATE TABLE Professor(
    Nome        VARCHAR(40) NOT NULL,
    NNfuncional CHAR(7)     NOT NULL,
    Nivel        CHAR(7),
    Idade       DECIMAL(2)
    );

DROP TABLE IF EXISTS Aluno CASCADE;
CREATE TABLE Aluno(
    Nome        VARCHAR(40) NOT NULL,
    NUSP        DECIMAL(8)  NOT NULL,
    Idade       DECIMAL(2),
    Cidade      VARCHAR(30),
    Curso       VARCHAR(15)
    );
    
DROP TABLE IF EXISTS Turma CASCADE;
CREATE TABLE Turma(
    Sigla       CHAR(7)     NOT NULL,
    Numero      DECIMAL(2)  NOT NULL,
    Codigo      DECIMAL(4)  NOT NULL,
    Ano         Decimal(4),
    NNalunos    DECIMAL(3)
    );

DROP TABLE IF EXISTS Discip CASCADE;
CREATE TABLE Discip(
    Sigla       CHAR(7)     NOT NULL,
    Nome        VARCHAR(25) NOT NULL,
    Siglaprereq CHAR(7),
    NNcred      DECIMAL(2)  NOT NULL
    );

DROP TABLE IF EXISTS Matricula CASCADE;
CREATE TABLE Matricula(
    Codigoturma DECIMAL(4)  NOT NULL,
    NUSP        DECIMAL(8)  NOT NULL,
    Nota        DECIMAL(3)
    );

DROP TABLE IF EXISTS HoraTurma CASCADE;
CREATE TABLE HoraTurma(
    Sigla       CHAR(7),
    Numero      DECIMAL(2),
    Dia         Char(7),
    Horario     DECIMAL(2)
    );

DROP TABLE IF EXISTS Ministra CASCADE;
CREATE TABLE Ministra(
    NNfuncprof  CHAR(7)     NOT NULL,
    Codigo      DECIMAL(4)  NOT NULL,
    Livro       VARCHAR(50)
    );

 * postgresql://postgres:***@localhost/alunos15
   postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

<br><br>

----

<br>

## 5. Carregar os dados nas tabelas

Vamos carregar essa base apenas algumas poucas tuplas para servirem de exemplo e ao mesmo tempo ser de entendimento fácil.\
Quando a quantidade é pequena como agora, podemos inserir cada tupla diretamente com um \
&emsp; &emsp; &emsp; comando 
    <font size="3" face="arial" style="background-color:#FFE0E0;" color="#050505"> INSERT INTO </font>\
    inserindo na base um registro de `aluno`, de `professor`, etc. por comando.
    
O exemplo da _toy database_ usado em sala de aula é carregado com os seguintes dados:

In [26]:
%%capture

%%sql
INSERT INTO Professor VALUES ('Ari',     '1111', 'MS-1', 25);
INSERT INTO Professor VALUES ('Adao',    '2222', 'MS-2', 30);
INSERT INTO Professor VALUES ('Anselmo', '3333', 'MS-2', 31);
INSERT INTO Professor VALUES ('Amalia',  '8888', 'MS-3', 39);
INSERT INTO Professor VALUES ('Ana',     '4444', 'MS-3', 31);
INSERT INTO Professor VALUES ('Alice',   '5555', 'MS-3', 35);
INSERT INTO Professor VALUES ('Amauri',  '6666', 'MS-3', 34);
INSERT INTO Professor VALUES ('Artur',   '7777', 'MS-4', 41);
INSERT INTO Professor VALUES ('Adriana', '9999', 'MS-5', 45);

INSERT INTO Aluno VALUES ('Carlos',   1234, 21, 'Sao Carlos', 'Computação');
INSERT INTO Aluno VALUES ('Celso',    2345, 22, 'Sao Carlos', 'Computação');
INSERT INTO Aluno VALUES ('Cicero',   3456, 22, 'Araraquara', 'Matemática');
INSERT INTO Aluno VALUES ('Carlitos', 4567, 21, 'Ibitinga', 'Computação');
INSERT INTO Aluno VALUES ('Catarina', 5678, 23, 'Sao Carlos', 'Elétrica');
INSERT INTO Aluno VALUES ('Cibele',   6789, 21, 'Araraquara', 'Computação');
INSERT INTO Aluno VALUES ('Corina',   7890, 25, 'Rio Claro', 'Matemática');
INSERT INTO Aluno VALUES ('Celina',   8901, 27, 'Sao Carlos', 'Computação');
INSERT INTO Aluno VALUES ('Celia',    9012, 20, 'Rio Claro', 'Computação');
INSERT INTO Aluno VALUES ('Cesar',    9123, 21, 'Araraquara', 'Elétrica');
INSERT INTO aluno VALUES ('Denise',   4584, 35, 'Ibate', 'Matemática');
INSERT INTO aluno VALUES ('Durval',   1479, null, null, 'Computação');
INSERT INTO Aluno VALUES ('Daniel',   1489, 19, 'Campinas', 'Computação');
INSERT INTO aluno VALUES ('Dora',     1469, 24, null, 'Geografia');
INSERT INTO aluno VALUES ('Dina',     1459, null, 'Campinas');

INSERT INTO Turma VALUES ('SCE-179', 1, 100, 2024, 30);
INSERT INTO Turma VALUES ('SMA-179', 1, 101, 2023, 25);
INSERT INTO Turma VALUES ('SMA-179', 2, 102, 2024, 30);
INSERT INTO Turma VALUES ('SCE-200', 1, 103, 2023, 30);
INSERT INTO Turma VALUES ('SCE-200', 2, 104, 2024, 60);
INSERT INTO Turma VALUES ('SCE-200', 3, 105, 2024, 35);

INSERT INTO Discip VALUES ('SCE-179', 'Base de Dados',      'SMA-179', 4);
INSERT INTO Discip VALUES ('SMA-179', 'Algebra',                   '', 3);
INSERT INTO Discip VALUES ('SCE-200', 'Lab. Base de Dados', 'SCE-179', 4);

INSERT INTO HoraTurma VALUES ('SCE-179', 1, 'Segunda', 8);
INSERT INTO HoraTurma VALUES ('SCE-179', 1, 'Quarta', 8);
INSERT INTO HoraTurma VALUES ('SMA-179', 1, 'Segunda', 10);
INSERT INTO HoraTurma VALUES ('SMA-179', 1, 'Quarta', 8);
INSERT INTO HoraTurma VALUES ('SMA-179', 1, 'Sexta', 14);
INSERT INTO HoraTurma VALUES ('SMA-179', 2, 'Segunda', 10);
INSERT INTO HoraTurma VALUES ('SMA-179', 2, 'Quarta', 10);
INSERT INTO HoraTurma VALUES ('SMA-179', 2, 'Sexta', 16);
INSERT INTO HoraTurma VALUES ('SCE-200', 1, 'Terça', 8);
INSERT INTO HoraTurma VALUES ('SCE-200', 2, 'Terça', 10);
INSERT INTO HoraTurma VALUES ('SCE-200', 3, 'Terça', 12);

INSERT INTO Matricula VALUES (100, 1234, 8);
INSERT INTO Matricula VALUES (100, 2345, 9);
INSERT INTO Matricula VALUES (100, 4567, 7);
INSERT INTO Matricula VALUES (100, 8901, 4);
INSERT INTO Matricula VALUES (100, 9123, 9);
INSERT INTO Matricula VALUES (100, 3456, 7);
INSERT INTO Matricula VALUES (100, 9012, 6);
INSERT INTO Matricula VALUES (101, 2345, 4);
INSERT INTO Matricula VALUES (101, 3456, 2);
INSERT INTO Matricula VALUES (101, 2344, 3);
INSERT INTO Matricula VALUES (101, 4567, 4);
INSERT INTO Matricula VALUES (101, 6789, 6);
INSERT INTO Matricula VALUES (101, 7890, 10);
INSERT INTO Matricula VALUES (101, 8901, 3);
INSERT INTO Matricula VALUES (101, 9012, 9);
INSERT INTO Matricula VALUES (101, 1234, 9);
INSERT INTO Matricula VALUES (102, 2345, 7);
INSERT INTO Matricula VALUES (102, 3456, 9);
INSERT INTO Matricula VALUES (102, 4567, 10);
INSERT INTO Matricula VALUES (102, 5678, 7);
INSERT INTO Matricula VALUES (102, 9123, 9);
INSERT INTO Matricula VALUES (102, 8901, 9);
INSERT INTO Matricula VALUES (104, 2345, 7);
INSERT INTO Matricula VALUES (104, 3456, 10);
INSERT INTO Matricula VALUES (104, 4567, 4);
INSERT INTO Matricula VALUES (104, 6789, 5);
INSERT INTO Matricula VALUES (104, 7890, 9);
INSERT INTO Matricula VALUES (104, 8901, 8);
INSERT INTO Matricula VALUES (104, 9012, 9);
INSERT INTO Matricula VALUES (104, 1234, 4);
INSERT INTO Matricula VALUES (104, 5678, 8);
INSERT INTO Matricula VALUES (104, 9123, 7);
INSERT INTO Matricula VALUES (105, 4567, 7);
INSERT INTO Matricula VALUES (105, 1459, 0);
INSERT INTO Matricula VALUES (105, 1469, 0);
INSERT INTO Matricula VALUES (105, 1479, null);
--INSERT INTO Matricula VALUES (105, 1489, null);

INSERT INTO Ministra VALUES ('1111', 100, 'Database Intro');
INSERT INTO Ministra VALUES ('1111', 103, 'Bases de Dados na Pratica');
INSERT INTO Ministra VALUES ('2222', 101, 'Algebra para Todos');
INSERT INTO Ministra VALUES ('3333', 100, 'Database Intro');
INSERT INTO Ministra VALUES ('3333', 103, 'Bases de Dados na Pratica');
INSERT INTO Ministra VALUES ('3333', 104, 'Bases de Dados na Pratica');
INSERT INTO Ministra VALUES ('3333', 102, 'Algebra Moderna');
INSERT INTO Ministra VALUES ('4444', 100, 'Database Intro');
INSERT INTO Ministra VALUES ('4444', 105, 'Bases de Dados');
INSERT INTO Ministra VALUES ('5555', 101, 'Algebra para Todos');
INSERT INTO Ministra VALUES ('5555', 102, 'Algebra Moderna');
INSERT INTO Ministra VALUES ('6666', 100, 'Introducao a bases de dados');
INSERT INTO Ministra VALUES ('7777', 101, 'Algebra Moderna');
INSERT INTO Ministra VALUES ('7777', 102, 'Algebra para Todos');
INSERT INTO Ministra VALUES ('9999', 100, 'Database Intro');

<br>

Note o primeiro comando desta célula: `%%capture`\
Ele é uma outra "_mágica_" nativa dos `Notebook Jupyter-Lab`, que _captura_ os dados enviados\
para ` stdout`e `stderr` de cada célula.\
Isso evita que o resultado de cada comando seja impresso na saida.\
Aqui ela evita uma longa listagem dos muitos comandos contidos nesta célula.

Quando uma base de dados recebe muitas alterações,\
 &emsp; (como é o caso aqui)\
o SGBD deve recuperar as "estatísticas" (métricas) a respeito do estado atual da base.\
Isso deve ser feito como uma transação independente, pelo comando `VACCUM`.\

Então, vamos novamente:
  * desabilitar o auto-committ,
  * executar o comando 'VACCUM' dentro de uma transação,
  * encerrar a transação, e
  * re-habilitar o auto-commit

In [27]:
%config SqlMagic.autocommit=False
%sql  COMMIT;  VACUUM;  COMMIT;
%config SqlMagic.autocommit=True

 * postgresql://postgres:***@localhost/alunos15
   postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.


<br><br>

----

<br><br>

Por curiosidade, vamos verificar os alunos que estão carregados:

In [28]:
%sql SELECT * FROM Aluno;

 * postgresql://postgres:***@localhost/alunos15
   postgresql://postgres:***@localhost:5432/postgres
15 rows affected.

[('Carlos', Decimal('1234'), Decimal('21'), 'Sao Carlos', 'Computação'),
 ('Celso', Decimal('2345'), Decimal('22'), 'Sao Carlos', 'Computação'),
 ('Cicero', Decimal('3456'), Decimal('22'), 'Araraquara', 'Matemática'),
 ('Carlitos', Decimal('4567'), Decimal('21'), 'Ibitinga', 'Computação'),
 ('Catarina', Decimal('5678'), Decimal('23'), 'Sao Carlos', 'Elétrica'),
 ('Cibele', Decimal('6789'), Decimal('21'), 'Araraquara', 'Computação'),
 ('Corina', Decimal('7890'), Decimal('25'), 'Rio Claro', 'Matemática'),
 ('Celina', Decimal('8901'), Decimal('27'), 'Sao Carlos', 'Computação'),
 ('Celia', Decimal('9012'), Decimal('20'), 'Rio Claro', 'Computação'),
 ('Cesar', Decimal('9123'), Decimal('21'), 'Araraquara', 'Elétrica'),
 ('Denise', Decimal('4584'), Decimal('35'), 'Ibate', 'Matemática'),
 ('Durval', Decimal('1479'), None, None, 'Computação'),
 ('Daniel', Decimal('1489'), Decimal('19'), 'Campinas', 'Computação'),
 ('Dora', Decimal('1469'), Decimal('24'), None, 'Geografia'),
 ('Dina', Decimal('1459'), None, 'Campinas', None)]

<br>

Agora temos uma base de dados chamada `alunos15`, com sete relações e vários dados carregados.\
Podemos agora usar essa base como exemplo para experimentar com os comandos e
<font color="green" font size="4">aprender SQL</font>.

<br><br>

----

<br><br>