<font size="6" face="verdana" color="green">
    <img src="Figuras/ICMC_Logo.jpg" width=100>&emsp;&emsp;&emsp;
    <img src="Figuras/Gbdi2005.jpg" width=550><br>
    <b>Introdução à Linguagem SQL</b><br>
    Algumas funções prédefinidas em SQL
    </font>
<div align="right"><font size="1" face="arial" color="gray">8 cel</font></div>

<br>

**Objetivo:** Explorar comandos básicos da linguagem sub-linguagem de definição de dados em SQL,\
    usando como exemplo de teste uma <i>toy database</i> que contém dados sobre as mátriculas de 15 alunos:\
    &emsp; &emsp; __a base de Dados `Alunos15`__

__Atividades:__ 
 * Explorar algumas funções interessantes disponíveis em SQL
   * para números,
   * para datas
   * para conjuntos, ...

<br>

----

<br>

## 1. Conectar com a Base de Dados

Para começar, sempre é necessário, em cada `Notebook`:
  * Carregar os pacotes que serão usados;
  * Estabelecer a coneção com a base.

In [ ]:
############## Importar os módulos necessários para o Notebook:
import ipywidgets as widgets     #---
from sqlalchemy import create_engine

############## Conectar com um servidor SQL na base Alunos 15 ###################### --> Postgres.Alunos15
%load_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost/alunos15')
%sql postgresql://postgres:pgadmin@localhost/alunos15

<br><br>

----

<br><br>

## 2. Funções pré-definidas em SQL

Existem muitas funções que estão predefinidas em SQL.\
(o usuário também pode codificar as suas próprias, em muitas linguagens de programaçào, incluindo SQL)

Funções em geral podem ser utilizadas em qualquer lugar onde um <font color="blue">$<$atributo$>$</font> pode ser utilizado:\
Por exemplo, nas cláusulas <font color="blue">SELECT</font> e <font color="blue">WHERE<\font> do comando <font color="blue">SELECT</font>, etc.

Existem funções para todos os tipos de dados da linguagem, como por exemplo:
  * Números
  * Cadeias de caracteres
  * Datas
    * etc.
  * Funções de Agregação
  * etc.


<br><br>

----

<br><br>

### 2.1. Funções sobre tipos de dados Numéricos

<font color="blue" face="courier"><br>
 * ABS(num-expr)
 * ACOS(num-expr) -- em radianos
 * ASIN(num-expr)
 * ATAN(num-expr)
 * ATAN2(num-expr1, num-expr2) -- Arco-tangente de <num-expr1/num-expr2> em radianos.
 * CEILING(num-expr) -- Menor inteiro não menor que
 * COS(num-expr)
 * COT(num-expr) -- Cotangente
 * DEGREES(num-expr) -- Converte de Radianos para Graus
 * EXP(num-expr)
 * FLOOR(num-expr) -- Maior inteiro n~ao maior que
 * LN(num-expr) -- log neperiano
 * LOG(num-expr) -- log base 10
 * LOG(base, num-expr) -- Log base dada
 * PI()
 * POWER(num-expr1, num-expr2) -- $<$num-expr1$>$ elevado a $<$num-expr2$>$
 * Random() -- Um número aleatório entre 0 e 1\
   ...
</b></font>

Por exemplo:

In [ ]:
%%sql
SELECT PI(), Cos(PI()), LOG(10) Log10, Log(2, 10) Log2, Ln(10);


<br><br>

----

<br><br>

a característica de orientaçào a objetos do <img src="Figuras/Postgres.png" width=100> habilita definir operações para "operadores".\
Por exemplo,  existem diversos operadores pré-definidos para números:
<font color="blue" face="courier"><br>
 * \+ soma
 * \- subtração
 * \* multiplicação
 * 	/ divisão inteira (inteira trunca)
 * 	% modulo (resto)
 * 	^ exponenciação
 * 	@ absolute value
 * 	& bitwise AND
 * 	| bitwise OR
 * 	# bitwise XOR
 * 	~ bitwise NOT\
 * 	|/ Raiz quadrada
 * 	||/ Raiz cúbica
   ...

Por exemplo:

In [ ]:
%%sql
SELECT '2 days'::Interval + '2000 minutes'::Interval Intervalos,
       '1500-apr-21'::TimeStamp - '12 hours'::Interval Tempo,
       2*Pi()^2 "2PiQuadrado",
       10./3, 10/3 "10/3", 10%3 resto,
       |/25 "raiz quadrada|/25", ||/27 "raiz cúbica||/27",
       @(-6) "|-6|"

In [ ]:
%%sql
SELECT  1 "seq", 0b00101 "Decimal", 0b00101::bit(8) "Binário", 'A' "Variável" UNION
SELECT  2, 0b01001, 0b01001::bit(8), 'B' UNION
SELECT  3, 0b00101 & 0b01001, (0b00101 & 0b01001)::bit(8), 'A E B' UNION
SELECT  4, 0b00101 | 0b01001, (0b00101 | 0b01001)::bit(8), 'A OU B' UNION
SELECT  5, 0b00101 # 0b01001, (0b00101 # 0b01001)::bit(8), 'A XOR B' UNION
SELECT  6, ~0b00101, (~0b00101)::bit(8),  'Não A'               ORDER BY 1;


<br><br>

----

<br><br>

### 2.2. Funções que retornam `Conjuntos`

Uma classe interessante de funções são as que retornam conjuntos.\
A principal é a função: &emsp;
<b><font size="3" face="courier" color="blue">Generate_Series(start, stop, step)</b></font> 

Exemplo:

In [ ]:
%%sql
SELECT * FROM Generate_Series(1,5);

In [ ]:
%%sql
SELECT I, I^2, I^3
    FROM Generate_Series(2,5) AS Tab(I);

<b><font size="3" face="courier" color="blue">Generate_Series(start, stop, step)</b></font> 
pode ser usado com:
 * números `INTEGER' e `NUMERIC`
   * <b><font size="3" face="courier" color="blue">Generate_Series(start::INTEGER, stop::INTEGER [, step::INTEGER])<big>→</big> set of INTEGER</b></font>
   * <b><font size="3" face="courier" color="blue">Generate_Series(start::NUMERIC, stop::NUMERIC [, step::NUMERIC])<big>→</big> set of NUMERIC</b></font>
 * tempo `TIME`, `TIMESTAMP`
   * <b><font size="3" face="courier" color="blue">Generate_Series(start::TIMESTAMP, stop::TIMESTAMP [, step::TIMESTAMP])<big>→</big> set of TIMESTAMP</b></font>

In [ ]:
%%sql 
SELECT * FROM Generate_Series('2024-03-01 00:00'::timestamp,
                              '2024-04-01 12:00', '200 hours');


<br><br>

----

<br><br>

### 2.3. Funções sobre tipos temporais

Aqui existem muitas funções, algumas "interessantes são:"
 * <b><font size="3" face="courier" color="blue">Now()</b></font> -- Que hora são?
 * <b><font size="3" face="courier" color="blue">EXTRACT($<$unidade de tempo$>$, {$<$Date$>$ | $<$Interval$>$})</b></font> -- Extrai o valor da unidade do dado
 * <b><font size="3" face="courier" color="blue">Date_Trunc($<$unidade de tempo$>$, {$<$Date$>$ | $<$Interval$>$})</b></font> -- Trunca até a unidade indicada
 * <b><font size="3" face="courier" color="blue">Age($<$Data1$>$, $<$Data2$>$)</b></font> Número de dias, mes e ano entre as datas. \
   Se omitido $<$Data2$>$ assume Current_date

In [ ]:
%%sql
SELECT Now() "Agora",
       Date_Trunc('week', Now()) "Inicio da semana" ,
       EXTRACT(HOURS from Now()) "Que Horas são",
       EXTRACT(DOW from Now())+1 "Que dia da semana é",
       AGE('2024-01-01'::Date) "dias do ano",
       AGE('2024-01-01', '2000-01-01') "dias no período"


<br><br>

----

<br><br>

<font size="6" face="verdana" color="green">
    <b>Introdução à Linguagem SQL</b><br>
    Algumas funções prédefinidas em SQL
    </font><br><br>

<img src="Figuras/ICMC_Logo.jpg" width=80>&emsp;
<font size="10" face="verdana" color="red"><b>FIM</b>&nbsp;&nbsp;&nbsp;&nbsp;</font>
<img src="Figuras/Gbdi2005.jpg" width=400>