<font size="6" face="verdana" color="green">
    <img src="Figuras/ICMC_Logo.jpg" width=100>&emsp;&emsp;&emsp;
    <img src="Figuras/Gbdi2005.jpg" width=550><br>
    <b>Introdução à Linguagem SQL</b><br>
    A <b>DDL:</b><i> <b>D</b>ata <b>D</b>efinition <b>L</b>anguage</i><br>
    <u>Parte 1:</u> O Comando <font color="blue" font=courier>CREATE TABLE</font></font>
    </font>

<br><br>

**Objetivo:** Explorar comandos básicos da linguagem sub-linguagem de definição de dados em SQL,\
    usando como exemplo de teste uma <i>toy database</i> que contém dados sobre as mátriculas de 15 alunos:\
    &emsp; &emsp; __a base de Dados `Alunos15`__

__Atividades:__ 
 * A estrutura da linguagem SQL e dos comandos da DDL
 * Explorar o comando `CREATE TABLE`
 * Tipos de dados
 * Restrições de integridade
 * e como usar comandos de `psql` em um _notebook jupyter_

<br><br>

----

<br>

## 1. Conectar com a Base de Dados

Para começar, sempre é necessário, em cada `Notebook`:
  * Carregar os pacotes que serão usados;
  * Estabelecer a coneção com a base.

In [ ]:
############## Importar os módulos necessários para o Notebook:
import ipywidgets as widgets     #---
from sqlalchemy import create_engine

############## Conectar com um servidor SQL na base Alunos 15 ###################### --> Postgres.Alunos15
%load_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost/alunos15')
%sql postgresql://postgres:pgadmin@localhost/alunos15

<br><br>

----

<br>

Vamos também "limpar" a base de qualquer tabela que possa ter sido criada em execuções anteriores deste _notebook_:

In [ ]:
%%sql
DROP TABLE IF EXISTS Aluno2 CASCADE;
DROP TABLE IF EXISTS Professor2 CASCADE;
DROP TABLE IF EXISTS Matricula2 CASCADE;
DROP TABLE IF EXISTS Disciplina2 CASCADE;
DROP TABLE IF EXISTS Turma2 CASCADE;
DROP TABLE IF EXISTS ExemploTD CASCADE;
DROP TABLE IF EXISTS Teste CASCADE;

<br><br>

----

<br>

## 2. A estrutura da Linguagem `SQL`

A linguagem `SQL` é composta por 3 <b>"sub-linguagens"</b>:\
&emsp; &emsp; &emsp; &emsp; <img src="Figuras/DDL DNL DCL.png" width=180>
  * A Linguagem de Definição de Dados - __DDL__
  * A Linguagem de Manipulação de Dados - __DML__
  * A Linguagem de Controle de Dados - __DCL__

<br>

Vamos começar aqui estudado os comandos da Linguagem de Definição de Dados - __DDL__.

<br><br>

----

<br>

## 3. Linguagem de Definição de Dados - __DDL__

  * Todos os objetos que o usuário define em sua Base de Dados devem ser definidos por um comando da Linguagem de Definição de Dados.
  * Cada objeto é tratado por comandos cuja sintaxe é específica de seu tipo.
  * para cada tipo, existe um comando específico para que o objeto seja:
    * Criado (<font size="3" color="blue" font=courier>CREATE</font>),
    * Corrigido (<font size="3" color="blue" font=courier>ALTER</font>), e
    * Removido (<font size="3" color="blue" font=courier>DROP</font>),
cada um com sua sintaxe própria.

Cada gerenciador define seus próprios tipos de objetos, \
e a cada nova versão, outros podem ser incluídos:\
&emsp; <img src="Figuras/Postgres.png" width=100> V9.1 tinha 34 objetos, V16 tem 43 (sem considerar nenhuma extensão),\
&emsp; <img src="Figuras/Oracle-1.png" width=80> V 11g tinha 37 objetos, V 21C tem 45.
<br><br>

----

<br>

Alguns tipos de objetos são fundamentais para a linguagem:
<div class=”square” style="background-color:#EAF0F0;"><b><font size="3" face="courier" color="blue">
   &emsp; &star; DATABASE<br>
   &emsp; &star; USER<br>
   &emsp; &star; ROLE<br>
   &emsp; &star; SCHEMA<br>
   &emsp; &star; TABLESPACE<br>
   &emsp; &star; TABLE<br>
   &emsp; &star; INDEX<br>
   &emsp; &star; DOMAIN<br>
   &emsp; &star; FUNCTION<br>
   &emsp; &star; SEQUENCE<br>
   &emsp; &star; TRIGGER<br>
   &emsp; &star; VIEW<br>
   &emsp; &star; ...
</font></b></div>

<font size="3" color="green"><font size="6">&emsp; &#9758;</font>
O comando que Cria/Altera/Apaga cada tipo de objeto é completamente independente daqueles associados aos demais tipos.</font>

<br><br>

----

<br>

## 4. O Comando `CREATE TABLE`

### 4.1. A Sintaxe geral

A sintaxe geral do comando `CREATE TABLE` é:
<div class=”square” style="background-color:#EAF0F0;"><b><font size="3" face="courier" color="blue">
CREATE TABLE $<$Nome da Tabela$>$ [IF NOT EXISTS] (<br>
   &emsp; $<$Definição de coluna$>$, ...<br>
   &emsp; $<$Restrições de Integridade$>$, ...<br>
   &emsp; );
</font></b></div>

onde <font size="3" color="blue" font=courier> $<$Definição de coluna$>$</font> pode ser:
<div class=”square” style="background-color:#EAF0F0;"><b><font size="3" face="courier" color="blue">
$<$Nome Atributo$>$ $<$Tipo de Dado$>$ <br>
   &emsp; [<u>NULL</u> | NOT NULL]<br>
   &emsp; [DEFAULT $<$Valor$>$]   &emsp;  &emsp; <font color="black">-- DEFAULT NULL</font>
</font></b></div>

Por exemplo, suponha que no projeto lógico de uma base de dados foi definido que a base de dados deve ter\
   &emsp; uma relação de `Alunos` com os seguintes atributos:

<div class=”square” style="background-color:#B0B0FF;"><font size="4" face="courier" color="black"><strong>
Aluno={NUSP, Nome, Cidade, Idade}
</strong></div>

<br>

Então, uma tabela pode ser criada na base correspondendo a  essa relação, com o seguinte comando:\
<font  color=#446666>Nota:\
  &emsp; já temos, na nossa base `Alunos15`, uma tabela chamada `Aluno`.\
  &emsp; Não podem existir duas tabelas com o mesmo nome.\
  &emsp; Então, para exemplificar, vamos chamar a nova tabela de `Aluno2`)
  </font>

In [ ]:
%%sql
CREATE TABLE Aluno2 (
    NUSP   Decimal(7)  NOT NULL,
    Nome   Varchar(60) NOT NULL,
    Cidade Char(25),
    Idade  Decimal(3)   NOT NULL,
    NADA_A_VER Char(40) NOT NULL
    );

Note que essa tabela está vazia, pois nenhuma tupla foi colocada nela, mas todos os atributos estão definidos:

In [ ]:
%%sql
SELECT * FROM Aluno2;

<br><br>

----

<br>

A opção <font size="2" face="Verdana" color="blue">[IF NOT EXISTS]</font> evita que o comando cause um erro se a tabela já existir.\
Essa opção cancela a criação, mas precisa tomar cuidado porque a tabela a ser criada pode ser diferente da que existe,\
 &emsp; e dai não existe o alerta do erro, mas a tabela que fica é a antiga, diferente do que está sendo solicitado.

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS Aluno (  ---> Note que estou tentando trocar a tabela "oficial", 
                                    ---> e defindo somente 3 atributos
    Nome   Varchar(60)  NOT NULL,
    NUSP   Decimal(7)   NOT NULL,
    NADA_A_VER Char(40) NOT NULL
    );

SELECT * FROM Aluno;

Veja que embora não tenha sido gerado um erro, a tabela não foi criada:<br>
<font size="3" color="red">Permanece a tabela antiga!

Uma outra opção é apagar a tabela anterior <u>caso ela exista,</u> mas nesse caso dados porvetura armazenados na tabela antiga\
<font color="magenta">serão apagados também</font>.

In [ ]:
%%sql
DROP TABLE IF EXISTS Aluno2;
CREATE TABLE Aluno2 (               ---> Note que estou trocando a tabela "Aluno2"
    NUSP   Decimal(7)  NOT NULL,
    Nome   Varchar(60) NOT NULL,
    Cidade Char(25),
    Idade  Decimal(3)   NOT NULL
    );

SELECT * FROM Aluno2;                ---> A tabela foi criada, e está VASIA.

<font color="red"><b>ATENÇÃO:</b></font>\
O uso de <font size="2" face="Verdana" color="blue">IF EXISTS</font> para <font size="2" face="Verdana" color="blue">CREATE TABLE</font> &nbsp; e &nbsp; 
<font size="2" face="Verdana" color="blue">IF NOT EXISTS</font> para <font size="2" face="Verdana" color="blue">DROP TABLE</font> \
 &emsp; &emsp; é um recurso interessante para experimentação e para comandos não-programados\
 &emsp; &emsp; (tal como é o caso de seu uso em _notebooks_, cujas células podem ser re-executadas assincronamente).

Para a programação de aplicativos, seu uso deve ser evitado.

<br><br>

----

<br>

## 5. Usando `psqp` num `Notebook Jupyter`

A linguagem SQL não tem, nativamente, nenhum comando para verificar a estrutura de uma tabela\
&emsp; (isso pode ser feito usando o conceito de `meta base de dados`, que iremos estudar depois).

Existem diversas ferramentas que atuam como CLIENTE de um servidor <img src="Figuras/Postgres.png" width=90>,\
&emsp; entre elas um  `Notebook Jupyter`.
Elas são comumente chamadas _front ends_ de acesso, e se comportam como um CLIENTE do SERVIDOR, \
permitindo ao usuário escrever os comandos

A ferramenta `psql`, que é instalada nativamente quanto se instala o <img src="Figuras/Postgres.png" width=90>, \
tem diversos `meta comandos`, a maior parte deles acessando a  `meta base de dados` da base de dados conectada.\
Um desses `meta-comandos` '`:
  * `\d <tabela>` lista a estrutura da `tabela`

Para usar um comando `psql` em uma célula de um _notebook_, é necessário ter instalado o `módulo Python pgspecial`\
<font color="magenta">(atenção, esse módulo deve ser instalado apenas uma vez no seu computador, como todos os demais módulos python):</font>

<br>

pip install pgspecial

<br>

E a seguir importar o módulo para o _notebook_:\
<font color="magenta">(isso deve ser feito uma vez para cada execução do notebook -\
 &emsp; e é recomedado que seja logo no início do _notebook_ <font size="1"> &emsp; Aqui é um contra-exemplo!</font>)</font>

In [ ]:
from pgspecial.main import PGSpecial
from pgspecial.namedqueries import NamedQueries

A seguir, podemos solicitar comandos do `psql` usando a mágica `%sql \<command>`.\

Por exemplo, listar a estrutura da tabela `Aluno2`:

In [ ]:
%sql \d Aluno

In [ ]:
%sql \d Aluno2

<br><br>

----

<br>

Outro exemplo:

Criar uma tabela com Atributos que tenham valor `DEFAULT`

Seja a relação
<div class=”square” style="background-color:#B0B0FF;"><font size="4" face="courier" color="black"><strong>
Professor={Nome, Nível, Idade}
</strong></div>
onde queremos que todos os `Professores`, se não indicado, tenham o nível de doutores (`MS_3`):

In [ ]:
%%sql
DROP TABLE IF EXISTS Professor2;
CREATE TABLE Professor2 (
    Nome  Varchar(60) NOT NULL,
    Nivel Char(4)     NOT NULL  DEFAULT 'MS-3',
    Idade Decimal(3)  NULL
);

Note que o meta-comando `\d` mostra os atributos com seus tipos e a indicação de permissão de nulidade e valor _default_.\
No aplicatvo `psql`, esse comando mostra também as demais restrições, \
mas isso não ocorre quando ele é chamado como meta-comando dentro de uma célula _Jupyter_.

In [ ]:
%sql \d Professor2


<br><br>

----

<br>

## 6. Tipos de Dados

Na sintaxe geral do comando `CREATE TABLE`, a construção
  <font size="3" color="blue" font=courier> $<$Tipo de Dados$>$</font> pode ser:
<div class=”square” style="background-color:#EAF0F0;"><b><font size="3" face="courier" color="blue"><strong>
$<$Tipo de Dados$>$ = SMALLINT | INTEGER | BIGINTEGER | FLOAT | DOUBLE PRECISION<br>
   &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; | {DECIMAL | NUMERIC}[( $<$precision$>$ [, $<$scale$>$])]<br>
   &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; | DATE | TIME | TIMESTAMP<br>
   &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; | {CHAR | CHARACTER | CHARACTER VARYING | VARCHAR}[($<$number$>$)]<br>
   &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; | CLOB | BLOB
</font></strong></div>

  * Os tipos numéricos podem ser:
     * Binários <font size="3" color="blue" font=courier>(SMALL | $<$normal$>$ | BIG INTEGER, ou $<$ponto flutuante$>$)</font>
     * Decimais: representam números com dígitos decimais "completos"
  * OS tipos para cadeias de caracteres indicam cadeias
     * de tamanho fixo <font size="3" color="blue" font=courier>CHAR | CHARACTER</font>
     * de tamanho variável <font size="3" color="blue" font=courier>CHARACTER VARYING | VARCHAR</font>\
       e ambos podem ter uma quantidade (máxima) de caracteres indicada: <font size="3" color="blue" font=courier>[($<$number$>$)]</font>
  * Os tipos para tempo indicam:
    *  data:<font size="3" color="blue" font=courier> YEAR, MONTH, DAY</font>\
    *  ou hora: <font size="3" color="blue" font=courier>HOUR, MINUTE, SECOND, MILISECOND, TIME ZONE</font>
    * <font size="3" color="blue" font=courier>TIMESTAMP</font> corresponde a uma indicação de tempo completa, com data e hora.

Cada SGBD define seus próprios tipos de dados.\
Por exemplo:
  * <img src="Figuras/Oracle-1.png" width=90> dá preferência a que se use o tipo `VARCHAR2` ao invéz de `VARCHAR`, \
    pois provê um tratamento melhor para cadeias com caracteres brancos &nbsp;'&#9251;%&#9251;'&nbsp; no início e/ou final<br><br>
  * <img src="Figuras/Postgres.png" width=100> tem o tipo `TEXT` para indicar caracteres `VARCHAR` \
    sem a necessidade de indicar um limite máximo.

Os tipos de dado dos atributos são declarados <u>quase sempre</u> quando a tabela é definida.

Por exemplo:

In [ ]:
%%sql
DROP TABLE IF EXISTS ExemploTD;
CREATE TABLE ExemploTD (
    Inteiro INTEGER,
    PontoFlutuante FLOAT,
    Decimal DECIMAL(7,3),
    Texto TEXT,
    Data DATE
    );
INSERT INTO ExemploTD VALUES (123+.49, 100./3, 100./3, 'Texto Livre.', '2024-12-25'),
                             (123+.50, 100/3,  100 /3, REPEAT('Texto Livre. ',10),  '2024-12-25'::Date - interval '1 hour' );
SELECT * FROM ExemploTD;

Além disso, valores podem ter seu tipo especificado por uma construção:
  * Funçao `CAST` &ndash; Segue a especificação <img src="Figuras/ISO-Logo.png" width=35>\
     <font size="3" color="blue" font=courier> CAST($<$Valor$>$ AS $<$tipo$>$) </font>
  * Operador `::` &ndash; Específico de <img src="Figuras/Postgres.png" width=90>\
     <font size="3" color="blue" font=courier> $<$Valor$>$::$<$tipo$>$ </font>
  * Ambas as construções retornam um erro se não for possível a conversão.

In [ ]:
%%sql
SELECT '123'::INT+1, CAST(PI() AS CHAR(6)) "Pi CHAR(6)", Round(PI()::NUMERIC, 4) "Pi FLOAT";


<b>Comentário</b> sobre as funções `TRUNC(<Expressão>, <Precisão>)` e  `ROUND(<Expressão>, <Precisão>)`:\
    &emsp; &emsp; Elas se aplicam a dados de tipo `NUMERIC`, mas não `FLOAT`!\
    &emsp; &emsp; &starf; por isso o resultado de `PI()` (que é `FLOAT`) precisa ser convertido para `NUMERIC`. &starf;

In [ ]:
%%sql
SELECT 10.499::INT, 10.500::INT, TRUNC(10.999), TRUNC(10.999, 2), ROUND(10.999, 2)

<br>

----

<br>

Valores __de tempo__

Existem os __tipos de tempo__:
  * (1) `DATE`, que inclui `DIA`, `MES` e `ANO`:

In [ ]:
%%sql
SELECT CAST ('2024-01-01' AS DATE), 
       CAST ('2024-01-01' AS DATE)-1,
       CAST ('25-JAN-1934' AS DATE) "Fundacao_USP";

<br>

  * (2) `TIME`, que inclui `HORA`, `MINUTO`, `SEGUNDO` e `MICROSEGUNDO`,
  * (3) `TIMESTAMP`, que inclui `DIA`, `MES`, `ANO`, `HORA`, `MINUTO`, `SEGUNDO` e `MICROSEGUNDO`,
  * (4) `TIME` e  `TIMESTAMP` pode incluir [WITH|<u>WITHOUT</u> TIME ZONE]

In [ ]:
%%sql
SELECT '2000-01-15 14:20:25'::timestamp, 
       current_date,
       current_time,
       current_timestamp,
       current_timestamp::TIMESTAMP WITHOUT TIME ZONE TSWOTZ;

  * (5) `INTERVAL`, para intervalos de tempo (períodos):

In [ ]:
%%sql
SELECT 
  '5 minute'::Interval, 
  '2 hour'::Interval,
  '75 minute'::Interval, 
  '1 day'::Interval, 
  '2 week'::Interval,
  '3 month'::Interval,
   ((1./5.)::TEXT||' day')::Interval;

<br>

As componentes de um tipo de tempo podem ser extraídas usando a função `EXTRACT(<expressão> AS <componente>`:

In [ ]:
%%sql
SELECT Current_TimeStamp Tempo,
       EXTRACT(YEAR FROM Current_TimeStamp)  Ano,
       EXTRACT(MONTH FROM Current_TimeStamp) Mês,
       EXTRACT(DAY  FROM Current_TimeStamp)  Dia,
       EXTRACT(HOUR FROM Current_TimeStamp)  Hora,
       EXTRACT(MINUTE FROM Current_TimeStamp) Minuto,
       EXTRACT(SECOND FROM Current_TimeStamp) Segundo,
       EXTRACT(MILLISECONDS FROM Current_TimeStamp)  Milisegundos,
       EXTRACT(DOW FROM Current_TimeStamp) "Dia da semana"  -- Começa em Domingo=0

<br>

----

<br>

Valores __Booleanos__

In [ ]:
%%sql
SELECT CAST('true' AS BOOLEAN)  A,
       CAST('false' as BOOLEAN) B,
       CAST('T' as BOOLEAN)     C,
       CAST('F' as BOOLEAN)     D;

Veja que o resultado de uma comparação também é um valor `BOOLEAN`, \
 &emsp; &emsp; que pode ter apenas um valor `TRUE` ou `FALSE`, mos pode ficar `NULO`:

In [ ]:
%%sql 
SELECT 1=2 "1=2",
       2=2 "2=2", NULL=2 "NULL=2", NULL IS NULL "NULL IS NULL";

<br>

----

<br>

Valores __de outros tipos__

Existem muitos tipos de dados disponíveis, e cada geenciador tem os seus próprios.

Por exemplo:

In [ ]:
%%sql
DROP TABLE IF EXISTS Teste;
CREATE TABLE Teste (
    Local TEXT,
    Net_Address CIDR,
    Geo_Address Point
);

INSERT INTO Teste VALUES ('Aqui', '128', Point(10,20));

SELECT *,
       Area(Box(Geo_Address,Point(0,0)))
    FROM Teste;

## 7. Restrições de Integridade

As <b>Restrições de Integridade</b> da teoria relacional são tratadas em `SQL` como __Restrições:__ `CONSTRAINT`s.\ 

Na sintaxe geral do comando `CREATE TABLE`, a construção
  <font size="3" color="blue" font=courier> $<$Restrições de Integridade$>$</font> pode ser:
<div class=”square” style="background-color:#EAF0F0;"><b><font size="3" face="courier" color="blue"><strong>
$<$Restrições de Integridade$>$ = [CONSTRAINT $<$Nome constraint$>$]<br>
  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;   PRIMARY KEY ($<$Atributo$>$, ...)<br>
  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;   | UNIQUE ($<$Atributo$>$,...)<br>
  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;   | FOREIGN KEY ...<br>
  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  | CHECK ( $<$condição$>$ )
</font></strong></div>

Uma restrição pode ser sintaticamente representada 
  * como uma `Restrição de Atributo` ou
  * como uma `Restrição de Tabela`.

<br><br>

----

<br><br>

### 7.1. Restrições de Atributo

Uma  `Restrição de Atributo` (também chamada  `Restrição de coluna`) deve ser declarada junto a cada atributo:
<div class=”square” style="background-color:#EAF0F0;"><b><font size="3" face="courier" color="blue"><strong>
$<$nome atr$>$ $<$tipo de dado$>$ [ CONSTRAINT $<$nome Constraint$>$ ]<br>
  &emsp; &emsp; &emsp; { PRIMARY KEY | UNIQUE | FOREIGN KEY ... <br>
  &emsp; &emsp; &emsp; | CHECK ... }
</font></strong></div>

Por exemplo:\
Criar uma tabela com as Restrições de Integridade definidas como <b>Restrições de Atributo:</b><br>
   &emsp; Seja uma relação de `Alunos` com os seguintes atributos:
<div class=”square” style="background-color:#B0B0FF;"><font size="4" face="courier" color="black"><strong>
Aluno={<u>NUSP</u>, 
    <td><span style="border-bottom:double black;"><u>Nome</u></span></td>,
    Cidade, Idade}
</strong></div>

In [ ]:
%%sql
DROP TABLE IF EXISTS Aluno2;
CREATE TABLE Aluno2(
    NUSP decimal(7)  NOT NULL  PRIMARY KEY,
    Nome varchar(60) NOT NULL  UNIQUE,
    Cidade char(25),
    Idade decimal(3) NOT NULL
    );


<br><br>

----

<br><br>

Podemos inserir dados que atendam às restrições de integridade:

In [ ]:
%%sql
INSERT INTO Aluno2 VALUES(1234, 'Jose', 'Araras', 25);
INSERT INTO Aluno2 VALUES(2345, 'João', 'Itu', 25);
SELECT * FROM Aluno2;


<br><br>

----

<br><br>

Dados que violem alguma restrição <b><font color="red">causam erro</font></b>.

Por exemplo, deixar de colocar a idade:

In [ ]:
%%sql
INSERT INTO Aluno2 VALUES(3456, 'Juca', 'Jau');


<br><br>

----

<br><br>

A cidade pode ser nula:

In [ ]:
%%sql
INSERT INTO Aluno2 VALUES(3456, 'Juca', NULL, 22);
SELECT * FROM ALUNO2

Mas violar alguma chave <font color="red">causa erro</font>, 
  * <font color="red">tanto se violar uma Chave primária</font>:

In [ ]:
%%sql
INSERT INTO Aluno2 VALUES(1234, 'Joca', 'Bauru', 26);

<br>

* <font color="red">Ocorre erro também quanto se violar uma Chave candidata</font>:

In [ ]:
%%sql
INSERT INTO Aluno2 VALUES(4567, 'Juca', 'Poa', 21);


<br><br>

----

<br><br>

### 7.1.1. Definindo uma chave estrangeira

Na sintaxe geral do comando `CREATE TABLE`, uma construção
  <font size="3" color="blue" font=courier> Restrição de Integridade Rerferencial</font> deve ser definida como:
<div class=”square” style="background-color:#EAF0F0;"><b><font size="3" face="courier" color="blue"><strong>
$<$Restrições de Integridade$>$ = ...<br>
  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;   | FOREIGN KEY ($<$Atributo$>$,...>)<br>
  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;     REFERENCES $<$tabela$>$ ($<$Atributos chaves$>$, ...)<br>
  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;         [$<$ações$>$]<br>
</font></strong></div>

onde <font size="3" color="blue" font=courier>$<$ações$>$</font> pode ser:
<div class=”square” style="background-color:#EAF0F0;"><b><font size="3" face="courier" color="blue"><strong>
$<$Ações$>$ =   ON {UPDATE|DELETE}<br>
   &emsp; &emsp; &emsp; &emsp; CASCADE | <u>RESTRICT</u> |SET NULL | SET DEFAULT | NO ACTION
</font></strong></div>

Para ilustrar, precisamos de outras tabelas, que possam ser referenciadas.\
Vamos considerar o exemplo em que alunos se matricula em diversas disciplinas.\
Então vamos considerar que existem as tabelas:

<div class=”square” style="background-color:#B0B0FF;"><font size="4" face="courier" color="black"><strong>
Aluno={<u>NUSP</u>, Nome, Cidade, Idade}<br>
Disciplina={Nome, <u>Sigla</u>, NumeroCreditos}<br>
Matricula=(NUSP, Sigla, Nota, Frequencia, SemestreIdeal)
</strong></div>

onde:
  * O atributo `NUSP` da matrícula se refere ao aluno que se matriculou,\
    portanto só pode haver matrícula de um aluno que existe na relação de alunos\
        `Matricula(NUSP)` é chave estrangeira em `Aluno(NUSP)`; e
  * O atributo `Sigla` da matrícula se refere à disciplina onde o aluno se matriculou,\
    portanto só pode haver matrícula em uma disciplina que existe na relação de disciplinas\
        `Matricula(Sigla)` é chave estrangeira em `Disciplina(Sigla)`.

In [ ]:
%%sql
DROP TABLE IF EXISTS Disciplina2;
CREATE TABLE Disciplina2(
    Nome Varchar(30) NOT NULL,
    Sigla Char(8) PRIMARY KEY,
    NumCreditos DECIMAL(2),
    SemestreIdeal INT
    );

INSERT INTO Disciplina2 VALUES ('Base de Dados',      'SCC-240',  4, 5);
INSERT INTO Disciplina2 VALUES ('Algebra',            'SMA-179',  5, 1);
INSERT INTO Disciplina2 VALUES ('Lab. Base de Dados', 'SCC-242',  4, 6);

SELECT * FROM Disciplina2;

<br>

Tendo as tabelas de `Aluno` e `Disciplina` definidas, \
podemos definir a tabela de `Matrículas`, com as restrições de integridade referencial necessárias

In [ ]:
%%sql
DROP TABLE IF EXISTS Matricula2;
CREATE TABLE Matricula2(
    NUSP DECIMAL(7)    NOT NULL
        REFERENCES Aluno2(NUSP)
            ON DELETE CASCADE
            ON UPDATE CASCADE,
    Sigla CHAR(7)      NOT NULL
        REFERENCES Disciplina2(Sigla)
            ON DELETE CASCADE
            ON UPDATE CASCADE,
    Nota DECIMAL(5,2)      NULL,
    Frequencia DECIMAL(5,2)
    );

INSERT INTO Matricula2 VALUES (1234,      'SCC-240', NULL, 10);
INSERT INTO Matricula2 VALUES (1234,      'SMA-179', NULL, 15);
INSERT INTO Matricula2 VALUES (2345,      'SCC-240', 5, 20);
INSERT INTO Matricula2 VALUES (2345,      'SCC-242');
INSERT INTO Matricula2 VALUES (2345,      'SMA-179', 7, 95);

SELECT * FROM Matricula2;

<br>

Com isso, é proibido inserir uma `Matricula` de um `Aluno` que não existe, pois <font color="red">dá erro</font>:

In [ ]:
%%sql
INSERT INTO Matricula2 VALUES (1111,      'SCC-240');

<br>

Também é proibido inserir uma `Matricula` para uma `Disciplina` que não existe, pois <font color="red">também dá erro</font>:

In [ ]:
%%sql
INSERT INTO Matricula2 VALUES (1234,      'SCC-222');

<br>

Além disso, como está indicado que <font color="red">tanto o aluno quanto a disciplina não podem ser nulos,</font>\
a relação de `Matrícula` impede que  o Aluno e a disciplina não sejam indicados:

In [ ]:
%%sql
INSERT INTO Matricula2 VALUES (NULL,      'SCC-240');


<br><br>

----

<br><br>

Se um `Aluno` for removido ou tiver o número USP alterado, a `ação` \
 &emsp; &emsp;            `ON DELETE CASCADE`<br>
 &emsp; &emsp;            `ON UPDATE CASCADE`<br>
 &emsp; "propaga" a operação para tabela de `Matrículas`:

In [ ]:
%sql MatriculaAntes << SELECT * FROM Matricula2;

%sql DELETE FROM Aluno2 WHERE NUSP=2345;
%sql UPDATE Aluno2 SET NUSP=445544 WHERE NUSP=1234;

%sql Alunos          << SELECT * FROM Aluno2;
%sql MatriculaDepois << SELECT * FROM Matricula2;

print('Alunos:\n',              Alunos, sep='')
print('\nMatrículas Antes:\n',  MatriculaAntes, sep='')
print('\nMatrículas Depois:\n', MatriculaDepois, sep='')

<br><br>

----

<br><br>

### 7.1.2. Restrições definidas pelo usuário: `CHECK`

Uma restrição definida pelo usuário usa a palavra-chave `CHECK` é usada para\
garantir que os valores em um ou mais atributos atendam a uma dada condição.\
A restrição `CHECK` usa uma expressão booleana para avaliar os valores, 
garantindo que apenas dados válidos sejam inseridos ou atualizados em uma tabela.

A sintaxe de uma <font size="3" color="blue" font=courier> Restrições de Integridade `CHECK`</font> é:
<div class=”square” style="background-color:#EAF0F0;"><b><font size="3" face="courier" color="blue"><strong>
$<$Restrições de Integridade$>$ = ...<br>
  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  | CHECK [$<$nome da condição$>$] ( $<$condição$>$ )
</font></strong></div>

Por exemplo:
Indicar que a idade do aluno não pode ser maior do que 120 anos:

In [ ]:
%%sql
DROP TABLE IF EXISTS Aluno2 CASCADE;
CREATE TABLE Aluno2(
    NUSP decimal(7)  NOT NULL  PRIMARY KEY,
    Nome varchar(60) NOT NULL  UNIQUE,
    Cidade char(25),
    Idade decimal(3) NOT NULL
        CONSTRAINT Maximo120 CHECK (Idade<=120)
    );

INSERT INTO Aluno2 VALUES(1234, 'Jose', 'Araras', 25);
INSERT INTO Aluno2 VALUES(2345, 'João', 'Itu', 25);

SELECT * FROM Aluno2;

<br>

Se tentarmos inserir alguém muito velho, <font color="red">isso será impedido:</font>

In [ ]:
%%sql
INSERT INTO Aluno2 VALUES(0687, 'Matusalém', 'Enoquepolis', 969);

<br><br>

----

<br><br>

### 7.2. Restrição de Tabela

Uma `Restrição de tabela` deve ser declarada separadamente, depois que todos os atributos necessários tenham sido declarados:
<div class=”square” style="background-color:#EAF0F0;"><b><font size="3" face="courier" color="blue"><strong>
[CONSTRAINT $<$nome Constraint$>$]<br>
&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; PRIMARY KEY($<$Atr$>$,...) | UNIQUE($<$Atr$>$,...)|<br>
&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; FOREIGN KEY ... | CHECK ...
</font></strong></div>

Por exemplo, criar uma tabela com as Restrições de Integridade definidas como <b>Restrições de Tabela</b>
   &emsp; uma relação de `Professores` com os seguintes atributos:
<div class=”square” style="background-color:#B0B0FF;"><font size="4" face="courier" color="black"><strong>
Professor2={<u>NUSP</u>, 
    <td><span style="border-bottom:double black;"><u>Nome</u></span></td>,
    Idade, Nivel}
</strong></div>

In [ ]:
%%sql
DROP TABLE IF EXISTS Professor2;
CREATE TABLE Professor2(
    NUSP Decimal(7),                   ---> Não foi declarado que é chave primária como restrição de atributo
    Nome Varchar(60),
    Idade Decimal(3),
    Nivel Char(4)     NOT NULL,
      PRIMARY KEY (NUSP),              ---> mas foi declarado que é chave primária como restrição de tabela
      UNIQUE (Nome)                    --->     idem para chave candidata
    );

INSERT INTO Professor2 VALUES(9876, 'Maria', 35, 'MS-3');
INSERT INTO Professor2 VALUES(8765, 'Meire', 45, 'MS-4');
SELECT * FROM Professor2;

Veja que uma chave primária, independente de como ela é definida (retrição por coluna ou por tabela), \
  <font color="red"> &emsp; __nunca__ pode ser nula, </font> mesmo que essa restrição não tenha sido explicitada:

In [ ]:
%%sql
INSERT INTO Professor2 VALUES(NULL, 'Mirian', 40, 'MS-3');

<br>

Já uma chave candidata (`UNIQUE`) pode ser nula:

In [ ]:
%%sql
INSERT INTO Professor2 VALUES(7654, NULL, 40, 'MS-3');
SELECT * FROM Professor2;


mas se tiver valor, <font color="red">ele não pode ser repetido</font>:

In [ ]:
%%sql
INSERT INTO Professor2 VALUES(6543, 'Maria', 40, 'MS-3');
SELECT * FROM Professor2;


<br><br>

----

<br><br>

Restrições de tabelas são úteis especialmente quando ela envolve mais de um atributo\
  &emsp; &emsp; <big>&#128073; </big> não é possível indicar mais de um atributo numa restrição de atributo!

Por exemplo:\
<img src="Figuras/RestricaoAtrib.png" width=500>

A chave `Sigla, Numero` só pode ser declarada como Restrição de tabela,\
 &emsp; pois nem `Sigla` nem `Numero` sozinhos constituem-se em uma restrição:

In [ ]:
%%sql
DROP TABLE IF EXISTS Matricula2;
DROP TABLE IF EXISTS Disciplina2;
DROP TABLE IF EXISTS Turma2;

CREATE TABLE Disciplina2 (
    Sigla       Decimal(4)  PRIMARY KEY,
    Nome        Varchar(25) UNIQUE  NOT NULL,
    NNCreditos  Integer
    );

CREATE TABLE Turma2 (
    Codigo   Char(7)    PRIMARY KEY,
    NNAlunos Decimal(2) NOT NULL,
    Sigla    Decimal(4) NOT NULL,
    Numero   Decimal(3) NOT NULL,
    NomeProf Varchar(60),
    Horario  Time,
    CONSTRAINT SiglaDaTurma   FOREIGN KEY (Sigla)            ---> define uma chave estrangeira como restrição de tabela
        REFERENCES Disciplina2 (Sigla)
           ON DELETE CASCADE ON UPDATE CASCADE,                  /* com as ações a serem tomadas quando a tabela "estrangeira"
                                                                    for atualizada                                            */    
    CONSTRAINT  SiglaNumero   UNIQUE (Sigla, Numero),        ---> Define uma restriçào que envolve mais de um atributo
    CONSTRAINT  LimiteDeVagas CHECK (NNalunos<50)            ---> exemplo de restrição definida pelo usuário: CHECK
    );


<br><br>

----

<br><br>

<font size="3" face="Verdana" color="Orange"><b>Anotação</b></font>\
<font size="2" face="Verdana" color=#FF7755>&emsp; &emsp; Tanto __Restrições de Atributos__ quanto __de Tabelas__ podem ser avaliadas de imediato, ou postergadas:</font>
<div class=”square” style="background-color:#EAF0F0;"><b><font size="3" face="courier" color="blue"><strong>
[DEFERRABLE | NOT DEFERRABLE]<br>
[INITIALLY DEFERRED | INITIALLY IMMEDIATE]
<br><br>
</font></strong></div>
<font size="2" face="Verdana" color=#FF7755>Isso será estudado quando virmos o Controle de Transações.</font>


<br><br>

----

<br><br>

Finalmente, vamos "limpar" a base das tabelas-exemplo que criamos aqui, que são desnecessárias em outros _notebooks_.

In [ ]:
%%sql
DROP TABLE IF EXISTS Aluno2 CASCADE;
DROP TABLE IF EXISTS Professor2 CASCADE;
DROP TABLE IF EXISTS Matricula2 CASCADE;
DROP TABLE IF EXISTS Disciplina2 CASCADE;
DROP TABLE IF EXISTS Turma2 CASCADE;
DROP TABLE IF EXISTS ExemploTD CASCADE;
DROP TABLE IF EXISTS Teste CASCADE;


<br><br>

----

<br><br>

<font size="6" face="verdana" color="green">
    <b>Introdução à Linguagem SQL</b><br>
    A <b>DDL:</b><i> <b>D</b>ata <b>D</b>efinition <b>L</b>anguage</i><br>
    <u>Parte 1:</u> O Comando <font color="blue" font=courier>CREATE TABLE</font></font>
    </font><br><br>

<img src="Figuras/ICMC_Logo.jpg" width=80>&emsp;
<font size="10" face="verdana" color="red"><b>FIM</b>&nbsp;&nbsp;&nbsp;&nbsp;</font>
<img src="Figuras/Gbdi2005.jpg" width=400>